node_red_clipboard.txt
[{"id":"7c35e7c2.7fd108","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"95e30cad.85561","type":"ThingspeakSendSimple","z":"7c35e7c2.7fd108","name":"","writekey":"BLVBEIEEJHI80BKY","fieldid":"1","x":720.0000228881836,"y":65.00001811981201,"wires":[]},{"id":"1719248c.a5cb0b","type":"mqtt in","z":"7c35e7c2.7fd108","name":"MQTT","topic":"lora/rxpk","qos":"0","datatype":"auto","broker":"18d2e18d.17af7e","x":85.00001525878906,"y":241.00000762939453,"wires":[["ea96f4d0.eea418"]]},{"id":"ea96f4d0.eea418","type":"csv","z":"7c35e7c2.7fd108","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":232.00001525878906,"y":239.00002002716064,"wires":[["867e2b3a.2605e8","fdb66b10.2af478","c95b2500.1236c8","55f22899.0966c8","8e20ea25.852f18","e70e7ec9.e2691","66b550b8.2dc7","1100c285.78cc2d"]]},{"id":"867e2b3a.2605e8","type":"function","z":"7c35e7c2.7fd108","name":"AcZ1","func":"var mydata = msg.payload;\n\nif (mydata.col1===444){\n\n    msg.accey = mydata.col3;\n    msg.accez = mydata.col4;\n    return {payload:msg.accez}; \n}\n\n","outputs":1,"noerr":0,"x":473.9999885559082,"y":180.99998223781586,"wires":[["95e30cad.85561","f3dc2fb0.b63b3"]],"outputLabels":["msg.temperature"]},{"id":"f3dc2fb0.b63b3","type":"debug","z":"7c35e7c2.7fd108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":686.0000228881836,"y":20,"wires":[]},{"id":"fdb66b10.2af478","type":"function","z":"7c35e7c2.7fd108","name":"GPSspeed","func":"var mydata = msg.payload;\n\n\nif (mydata.col1===444){\n\n    msg.gpslong = mydata.col10;\n    msg.gpsspee = mydata.col11;\n    return {payload:msg.gpsspee}; \n}\n\n\n","outputs":1,"noerr":0,"x":408.0000305175781,"y":474.00014756918245,"wires":[["51b73ac0.693ae4","8514e252.a6b6f"]],"outputLabels":["msg.temperature"]},{"id":"51b73ac0.693ae4","type":"ThingspeakSendSimple","z":"7c35e7c2.7fd108","name":"","writekey":"BLVBEIEEJHI80BKY","fieldid":"2","x":706.0000991821289,"y":546.0004196166992,"wires":[]},{"id":"8514e252.a6b6f","type":"debug","z":"7c35e7c2.7fd108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":675.0000991821289,"y":516.0003280639648,"wires":[]},{"id":"f5aacac2.8cc038","type":"ThingspeakSendSimple","z":"7c35e7c2.7fd108","name":"","writekey":"BLVBEIEEJHI80BKY","fieldid":"3","x":710.400016784668,"y":109.20003700256348,"wires":[]},{"id":"ff785e3b.11315","type":"ThingspeakSendSimple","z":"7c35e7c2.7fd108","name":"","writekey":"BLVBEIEEJHI80BKY","fieldid":"4","x":721.4000244140625,"y":268.20005798339844,"wires":[]},{"id":"723f10f2.68c3a","type":"ThingspeakSendSimple","z":"7c35e7c2.7fd108","name":"","writekey":"BLVBEIEEJHI80BKY","fieldid":"5","x":732.4000244140625,"y":353.2000951766968,"wires":[]},{"id":"c95b2500.1236c8","type":"function","z":"7c35e7c2.7fd108","name":"Acc Z2","func":"var mydata = msg.payload;\n\nif (mydata.col1===444){\n\n    msg.accey1 = mydata.col6;\n    msg.accez1 = mydata.col7;\n    return {payload:msg.accez1}; \n}\n\n","outputs":1,"noerr":0,"x":478.40002059936523,"y":224.20003163814545,"wires":[["f5aacac2.8cc038","fda4c338.552f1"]],"outputLabels":["msg.temperature"]},{"id":"55f22899.0966c8","type":"function","z":"7c35e7c2.7fd108","name":"AccY1","func":"var mydata = msg.payload;\n\nif (mydata.col1===444){\n\n    msg.accex = mydata.col2;\n    msg.accey = mydata.col3;\n    return {payload:msg.accey}; \n}\n\n","outputs":1,"noerr":0,"x":468.40002059936523,"y":321.20006930828094,"wires":[["ff785e3b.11315","7806356.e1e86cc"]],"outputLabels":["msg.temperature"]},{"id":"8e20ea25.852f18","type":"function","z":"7c35e7c2.7fd108","name":"AcY2","func":"var mydata = msg.payload;\n\nif (mydata.col1===444){\n\n    msg.accex1 = mydata.col5;\n    msg.accey1 = mydata.col6;\n    return {payload:msg.accey1}; \n}\n\n","outputs":1,"noerr":0,"x":466.40002059936523,"y":361.2000697851181,"wires":[["723f10f2.68c3a","abbf404d.60d6a"]],"outputLabels":["msg.temperature"]},{"id":"e70e7ec9.e2691","type":"function","z":"7c35e7c2.7fd108","name":"GPSLong","func":"var mydata = msg.payload;\n\n\nif (mydata.col1===444){\n\n    msg.gpsval = mydata.col8;\n    msg.gpslong = mydata.col9;\n    return {payload:msg.gpslong}; \n}\n\n\n","outputs":1,"noerr":0,"x":404.86669158935547,"y":542.0001504302054,"wires":[["f8484d68.e4ba9","d86aa523.598488"]],"outputLabels":["msg.temperature"]},{"id":"f8484d68.e4ba9","type":"ThingspeakSendSimple","z":"7c35e7c2.7fd108","name":"","writekey":"BLVBEIEEJHI80BKY","fieldid":"6","x":721.86669921875,"y":637.0000534057617,"wires":[]},{"id":"66b550b8.2dc7","type":"function","z":"7c35e7c2.7fd108","name":"GPSlat","func":"var mydata = msg.payload;\n\n\nif (mydata.col1===444){\n\n    msg.gpslong = mydata.col9;\n    msg.gpslat = mydata.col10;\n    return {payload:msg.gpslat}; \n}\n\n\n","outputs":1,"noerr":0,"x":401.8666687011719,"y":608.6667106032401,"wires":[["9f927aee.cec448","6ac4c60.96e0a3c"]],"outputLabels":["msg.temperature"]},{"id":"9f927aee.cec448","type":"ThingspeakSendSimple","z":"7c35e7c2.7fd108","name":"","writekey":"BLVBEIEEJHI80BKY","fieldid":"7","x":674.8666610717773,"y":712.0000114440918,"wires":[]},{"id":"1100c285.78cc2d","type":"function","z":"7c35e7c2.7fd108","name":"AccX1","func":"var mydata = msg.payload;\n\nif (mydata.col1===444){\n\n    msg.accez1 = mydata.col4;\n    msg.accex1 = mydata.col5;\n    return {payload:msg.accex1}; \n}\n\n","outputs":1,"noerr":0,"x":470.8666305541992,"y":271.3333171606064,"wires":[["25d7d625.5dd12a","e0942929.45f6d8"]],"outputLabels":["msg.temperature"]},{"id":"6ac4c60.96e0a3c","type":"debug","z":"7c35e7c2.7fd108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":657.86669921875,"y":757.0000419616699,"wires":[]},{"id":"d86aa523.598488","type":"debug","z":"7c35e7c2.7fd108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":684.86669921875,"y":601.0000381469727,"wires":[]},{"id":"abbf404d.60d6a","type":"debug","z":"7c35e7c2.7fd108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":701.8666877746582,"y":385.00003147125244,"wires":[]},{"id":"fda4c338.552f1","type":"debug","z":"7c35e7c2.7fd108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":712.8666915893555,"y":146.3333387374878,"wires":[]},{"id":"25d7d625.5dd12a","type":"ThingspeakSendSimple","z":"7c35e7c2.7fd108","name":"","writekey":"BLVBEIEEJHI80BKY","fieldid":"8","x":717.8666839599609,"y":181.33338737487793,"wires":[]},{"id":"e0942929.45f6d8","type":"debug","z":"7c35e7c2.7fd108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":693.8666877746582,"y":217.3333559036255,"wires":[]},{"id":"7806356.e1e86cc","type":"debug","z":"7c35e7c2.7fd108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":693.8666534423828,"y":297.3333396911621,"wires":[]},{"id":"18d2e18d.17af7e","type":"mqtt-broker","z":"","name":"MQTT","broker":"140.115.61.211","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]